
button {
  padding: 1em;
  background-color: #444;
  color: #FFF;
  border: none;

  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  background-color: #AAA;
}
